<template>
    <form class="form-inline my-2 my-lg-0 float-right" role="search" @submit="formSubmit">
        <div class="input-group form-row">
            <div class="col">
                <input type="text" class="form-control" name="name" placeholder="Buscar por nome..." v-model="name">
            </div>
            <div class="col">
                <input type="text" class="form-control" name="email" placeholder="Buscar por e-mail..." v-model="email">
            </div>
            <div class="col">
                <button class="btn btn-secondary" type="submit">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </div>
    </form>
</template>

<script>
    import PeopleSearch from './PeopleSearch'
    
    const qs = require('qs')

    export default {
        data() {
            return {
                name: '',
                email: ''
            };
        },
        methods: {
            formSubmit(e) {
                event.preventDefault()

                let app = this

                this.$parent.search = {
                    name: this.name,
                    email: this.email
                }

                axios.get('/api/people', {
                        params: {
                            name: this.name,
                            email: this.email
                        },
                        paramsSerializer: function(params) {
                            return qs.stringify(params, { indices: false })
                        }
                    })
                    .then((resp) => {
                        this.$parent.people = resp.data
                    })
                    .catch((error) => {
                        console.log(error);
                        alert("Não foi possível filtrar a lista de pessoas");
                    })
            }
        }
    }
</script>