<template>
    <div class="container">
        <div class="row">
            <div class="col-12 mt-3">
                <div class="card">
                    <div class="card-header">Pessoas</div>
                    <div class="card-body">
                        <div class="form-group">
                            <router-link :to="{name: 'createPeople'}" class="btn btn-success btn-sm">
                                <i class="fa fa-plus" aria-hidden="true"></i> Adicionar Nova
                            </router-link>

                            <people-search></people-search>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>Nome</th>
                                            <th>E-mail</th>
                                            <th>DDD</th>
                                            <th>Telefone</th>
                                            <th> </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="person, index in people['data']">
                                            <td>{{ person.name }}</td>
                                            <td>{{ person.email }}</td>
                                            <td>{{ person.ddd }}</td>
                                            <td>{{ person.phone }}</td>
                                            <td>
                                                <a href="#" class="btn btn-danger btn-sm" v-on:click="deleteEntry(person.id, index)">
                                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="d-table ml-auto mr-auto">
                                    <pagination :data="people" @pagination-change-page="getPeople"></pagination>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import PeopleSearch from './PeopleSearch'
    import Pagination from 'laravel-vue-pagination'

    const qs = require('qs')

    export default {
        data: () => {
            return {
                people: {},
                search: {
                    name: '',
                    email: ''
                }
            }
        },
        mounted() {
            this.getPeople()
        },
        components: {
            PeopleSearch,
            Pagination
        },
        methods: {
            getPeople(page = 1) {
                axios.get('/api/people', {
                        params: {
                            page: page,
                            name: this.search.name,
                            email: this.search.email
                        },
                        paramsSerializer: (params) => {
                            return qs.stringify(params, { indices: false })
                        }
                    })
                    .then((resp) => {
                        this.people = resp.data
                    })
                    .catch((resp) => {
                        console.log(resp)
                        alert("Não foi possível carregar a lista de pessoas")
                    });
            },
            deleteEntry(id, index) {
                if (confirm("Deseja realmente excluir o registro?")) {
                    let app = this;
                    axios.delete('/api/people/' + id)
                        .then((resp) => {
                            app.people.data.splice(index, 1);
                        })
                        .catch((resp) => {
                            alert("Não foi possível excluir a pessoa")
                        });
                }
            }
        }
    }
</script>