<template>
    <div class="container">
        <div class="row">
            <div class="col-12 mt-3">
                <div class="card">
                    <div class="card-header">Criar Nova Pessoa</div>
                    <div class="card-body">
                        <div class="form-group">
                            <router-link to="/" class="btn btn-warning btn-sm"><i class="fa fa-arrow-left" aria-hidden="true"></i> Voltar</router-link>
                        </div>

                        <form v-on:submit="saveForm()" class="form-horizontal">
                            <div v-if="errors.length" role="alert" class="mb-3">
                                <h5 class="alert-heading">Por favor, corrija o(s) seguinte(s) erro(s):</h5>
                                <ul class="list-group list-group-flush">
                                    <li v-for="error in errors" class="list-group-item list-group-item-danger">{{ error }}</li>
                                </ul>
                            </div>

                            <div class="form-group">
                                <label class="control-label">Nome</label>
                                <input type="text" v-model="person.name" class="form-control" maxlength="255">
                            </div>
                            <div class="form-group">
                                <label class="control-label">E-mail</label>
                                <input type="email" v-model="person.email" class="form-control" maxlength="255">
                            </div>
                            <div class="row">
                                <div class="form-group col-3">
                                    <label class="control-label">DDD</label>
                                    <input type="text" v-model="person.ddd" class="form-control">
                                </div>
                                <div class="form-group col-9">
                                    <label class="control-label">Telefone</label>
                                    <input type="text" v-model="person.phone" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary">Criar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data: () => {
            return {
                person: {
                    name: '',
                    email: '',
                    ddd: '',
                    phone: ''
                },
                errors: []
            }
        },
        methods: {
            saveForm() {
                event.preventDefault()

                let app = this
                app.errors = []

                axios.post('/api/people', app.person)
                    .then((resp) => {
                        app.$router.push({path: '/'});
                    })
                    .catch((resp) => {
                        (Object.values(resp.response.data.errors)).forEach(e => {
                            if (e.length > 0) {
                                app.errors.push(e[0])
                            }
                        })
                    })
            }
        }
    }
</script>